*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans-small", sans-serif;
}
body, html{
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    color: #fff;
}
#hero{
    padding: 20px 70px;
    width: 100%;
}
/* Navigation Bar  */
#nav-hero{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 1000;
    padding: 20px 70px;

}
#logo{
    height: 60px;
}
#nav-bar a{
    color: #fff;
    text-decoration: none;
    font-size: 1.16vw;
    text-transform: uppercase;
}
#nav-bar a:hover{
    opacity: .6;
    transition: all .3s ease-in-out;
}
#nav-bar{
    display: flex;
    align-items: center;
    gap: 30px;
}
/* Services Page */
#services-page{
    padding: 5vw 3vw;
}
.service-item {
    padding: 3vw 0vw;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.service-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.service-num {
    font-size: 1.2vw;
    color: #FF0000;
    font-family: 'Mono', monospace;
}

.service-item h2 {
    font-size: 5vw;
    color: #444;
    transition: all 0.4s ease;
    text-transform: uppercase;
}

.service-item p {
    max-width: 30%;
    margin-left: 4%;
    opacity: 0; 
    transform: translateY(20px);
    transition: all 0.4s ease;
    color: #888;
}


.service-item:hover h2 {
    color: #fff;
    transform: translateX(20px);
}

.service-item:hover p {
    opacity: 1;
}



/* Footer */
#footer{
    border-top: 1px solid #333;
    border-bottom: 1px solid #fff;
    /* background-color: #282626; */
    background-color: #1C1C1C;
    padding: 5vw 4.5vw;
}
.row{
    padding: 20px 0px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;

}
#footer h4{
    color: #bbbbbb;
    font-size: 1.1vw;
}
#footer h4:hover{
    color: #fff;
}
#footer .location, #footer .mail, #footer .call{
    display: flex;
    align-items: center;
    gap: 100px;
}
#footer-lists{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.service-list{
    padding: 1.7vw 0vw;
}
.service-list h5{
    color: #fff;
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 20px;
}
.service-list li, a{
    color: #bbbbbb;
    font-size: 1.2vw;
    text-decoration: none;
    list-style: none;
    line-height: 29px;
}
.service-list li:hover{
    color: #fff;
}